body{
	  background-color: lightgrey;
}

h1{
			color: blue;
			font-size: 40px;
			text-decoration: underline;
		}
		h2{
			color: fuchsia;
			font-size: 60px;
			text-decoration: bold;

		}
		h2{
			color: orange;
			font-size: 98px;
			text-decoration: underline;

		}
        #first{
          	font-size: 120px;
          }

		.small {
			font-size: 45px;
			color: green;
		}
		h2 span{
			text-decoration: line-through;
		}